body {
    background-color: #eaeaea
}

#main {
    width: 900px;
    margin: auto;
    background-color: #ffffff;
    padding-top: 40px;
}

#main h1 {
    text-align: center;
}

canvas {
    margin-left: 148px;
    margin-bottom: 40px;
    width: 604px;
    height: 604px;
    border: solid #000000 2px;
}